<mat-toolbar class="mat-elevation-z3 ">
  <button  (click)="toggleSidebar()" [class.rotating]="isMenuOpen">
    <mat-icon class="icons">menu</mat-icon>
  </button> 
  <span class="nghi">
    <span>Home</span>
    <span>Contact</span>
    <span>Location</span>
    <mat-icon>search</mat-icon>
  </span>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" [style.width]="'250px'">
<app-sidenav></app-sidenav>
</mat-sidenav>



  <mat-sidenav-content class="content">
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
